<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Integration Test</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
        <ul class="nav-bar">
            <a class="nav-item " href="/unit-test">Unit Test</a>
            <a class="nav-item active" href="/integration-test">Integration Test</a>
        </ul>
    </header>
    <main>
        <section class="unit-test-form">
            <h4 class="title">Integration Test</h4>
            <form action="/integration-test" method="post">
                <!--for function description-->
                <div>
                    <label for="function">The actual function or method complete code</label>
                    <textarea name="function" id="function" rows="20"></textarea>
                </div>
                <button class="submit-btn" type="submit">
                    Get Integration Tests
                </button>
            </form>
        </section>
    </main>
</body>
</html>